//
//		Dit is de css waar hansjan eventueel zijn snelle css kwijt kan :) Dan plaatst lars het wel in het juiste scss bestand ;)
//

.hansjan-is-dik {
	width: 9999999999999999999999999px;
	height: 192px;
	border-radius: 99999999999999999px;
	// joke <3
}