/**************************************************

	In this file we place all the Variables ;)

**************************************************/

// Fonts
$font: 'Open Sans', sans-serif;
//-----------------------------


// Colors
$black: 		#212121;
$blue-light: 	#3D95C5;
$blue-dark: 	#3D5897;
//----------------------


.div-test-extra {
	width: 200px;
	color: $blue-light;
}